* {
    background-color: #2e3137;
    border: none;
}

QPushButton {
    color: silver;
}

QPushButton:hover {
    color: orange;
}

QPushButton:pressed {
    color: #FF8033;
}

QPushButton#pb_sep {
    color: dimgray;
}

QPushButton#pb_title {
    border-top-left-radius: 10px;
}

QPushButton#pb_close {
    border-top-right-radius: 10px;
}

QPushButton#pb_close:hover {
    color:orange;
}

QPushButton#pb_close:pressed {
    color: tomato;
}

